
<div style="text-align:center">
  <form>
    <input placeholder="food name" #newName>
    <!-- <input type="button" > -->
  </form>
  <br>
  <form>
    <input placeholder="calories" #newCalories>
    <!-- <input type="button" > -->
  </form>
  <br>
  <form>
    <textarea rows="4" cols="20" placeholder="description" #newDescription>
    </textarea>
  </form>
</div>
  <br>
<button (click)=
"addClicked(newCalories.value,newDescription.value,newName.value);
newName.value='';
newCalories.value='';
newDescription.value='';
">Add New Food</button>
