<!--Start of header-->
<div class="container">
<div class="jumbotron">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img width="300" alt="tracker logo" src="https://lh3.googleusercontent.com/3oSoo3ulm-3gZJb77cuJb66TwzdGrSfmQG8KqYuc6OxUPaKYUZEQkh3LT-FAlHfb=w300">
  </div>
  <br>
</div>
<!--End of header-->
<!--Start of body-->
<!-- <app-food-form (newFoodSender)="addFood($event)">
</app-food-form> -->
<main>
  <div class="jumbotron">
    <div style="text-align:center">
      <div class="row">
        <div class="column left">
          <app-food-form
            (newFoodSender)="addFood($event)"
          ></app-food-form>
        </div>
        <div class="column right">
          <app-food-list
          [childFoodList]="masterFoodList"
          (clickSender)="showDetails($event)"
          ></app-food-list>
          <app-edit-food
            [childSelectedFood]="selectedFood"
            (doneClickedSender)="finishedEditing()"
          ></app-edit-food>
        </div>
      </div>
    </div>
  </div>
</main>
<!--End of body-->
</div>
