<!--Start of header-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" alt="tracker logo" src="https://lh3.googleusercontent.com/3oSoo3ulm-3gZJb77cuJb66TwzdGrSfmQG8KqYuc6OxUPaKYUZEQkh3LT-FAlHfb=w300">
</div>
<br>
<!--End of header-->
<!--Start of body-->
<div style="text-align:center">
  <form class="" action="index.html" method="post">
    <input type="text" name="food name" placeholder="food name">
    <input  type="button" value="Add" onClick="">
  </form>
  <br>
  <form class="" action="index.html" method="post">
     <input type="text" name="calories" placeholder="calories">
     <input  type="button" value="Add" onClick="">
  </form>
  <br>
  <form class="" action="index.html" method="post">
     <input type="text" name="description" placeholder="description">
     <input  type="button" value="Add" onClick="">
  </form>
</div>
<!--End of body-->
